/*************************************************ID SELECTORS**************************************/
/* CTA SECTION */

#cta {
  background-color: green;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
  font-family: "Montserrat"
}

.cta-heading {
  line-height: 1.5;
  font-size: 3.5rem;
  font-family: "Montserrat"
}

#press {
  background-color: cyan;
  text-align: center;
  padding-bottom: 3%;
}

#title {
  background-color: yellow;
  color: #fff;
}

 /* Testimonials Section */

 #testimonials {
   text-align: center;
   background-color: tomato;
   color: #fff;
 }

/**************************************************TAG SELECTORS*************************************/
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat"
}

h3 {
  font-weight: 900;
  font-family: "Montserrat"
}

p {
  color: #8F8F8F;
}

body {
  font-family: "Montserrat"
}

/***************************************************CLASS SELECTORS***********************************/
.container-fluid {
  padding: 3% 15% 7%;
  font-family: 'Montserrat', sans-serif;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-active {
  padding: 7% 15%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* NAVIGATION BAR */

.navbar {
  padding: 10px;
  background-color: blue;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 15px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300px;
  font-family: "Montserrat";
}

/* DOWNLOAD BUTTONS */

 .download-button {
   margin: 5% 3% 5% 0;
 }

 /* Title Image */

 .title-image {
   width: 60%;
   transform: rotate(25deg);
   position: absolute;
   right: 30%;
 }

 /* FEATURES SECTIONS */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* PRICING SECTION */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column  {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
#title {
  text-align: center;
}

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* FOOTER SECTION */

#footer {
  padding: 7% 15%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat"
}

.social-icon {
  margin: 20px 10px;
}
